<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>

<body>

            <div class="cart-container">
                <h2>Carrito de Compras</h2>
                <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{title}}</td>
                <td>{{price}}</td>
                <td>{{quantity}}</td>
                <td>
                    <button class="remove-item" data-cart-id="{{cartId}}" data-product-id="{{productId}}">Eliminar</button>
                </td>
            </tr>
            {{/each}}
        </tbody>

    </table>
            </div>

            <div id="buy-container" class="cart-summary">
                <h3>Resumen del Carrito</h3>
                <p id="final-amount">{{amount}}</p>

                <button id="checkout-button" class="buy-button" href="#">Comprar</button>
            </div>

        </div>
    </div>

    <script src="/js/viewCarts.js"></script>

</body>

</html>