<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>
<body>
    
    <h1>Bienvenido/a {{firstName}}</h1>
    <h3>{{rol}}</h3>
    <h4>{{email}}</h4>
    <h5>{{_id}}</h5>

    <h1>Carrito</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Comprar</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{title}}</td>
                <td>{{price}}</td>
                <td>{{quantity}}</td>
                <td>{{amount}}</td>
                <td>
                    <button class="buy-cart" data-product-id={{_id}} data-cart-id="{{cartId}}">Comprar</button>
                </td>
            </tr>
            {{/each}}
        </tbody>

    </table>

    <script src="/js/viewCarts.js"></script>

</body>
</html>